:root {
    --color-beige: #e1dbd6;
    --color-beige-dark: #4f4d46;
    --color-beige-medium: #787569;
    --color-gray: #4A4A4A;
    --color-off-white: #f9f6f2;
    --color-dark-gray: #333333;
    --color-burnt-orange: #BE5103;
    --color-midnight-blue: #272757;
    --color-dusty-rose: #DCA1A1;
    --color-sage-green: #9DC183;

    --color-dark-bg: #1e1e1e;
    --color-light-gray: #333333;
    --color-background: #2b2b2b;
    --color-accent-light: #444444;
    --color-accent-dark: #555555;
    --color-accent-green: #8BC34A;
    --color-accent-yellow: #FFEB3B;
    --color-accent-orange: #FF9800;
    --color-accent-red: #FF5722;
    --color-dark-text: #CCCCCC;
    --color-accent-text: #f3a61c;
    --color-cyan: #68e5da;
    --color-hover-text: #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-dark-gray);
    background-color: var(--color-beige);
}

html {
    scroll-behavior: smooth;
}

strong {
    font-weight: bold;
    font-family: 'OpenSansBold', sans-serif;
    color: #444;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'OpenSansSemiBold', sans-serif;
    font-weight: normal;
    color: var(--color-dark-gray);
    margin: 0 0 1rem;
}

.button {
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    background-color: var(--color-burnt-orange);
    font-weight: bold;
    color: white;
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover {
        color: white;
        background-color: #a14605;
    }

    &:active {
        /*background-color: var(--color-off-white);*/
        /*transform: translateY(0);*/
        /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    }

    &.-ghost {
        background-color: transparent;
        color: var(--color-burnt-orange);

        &:hover {
            background-color: var(--color-burnt-orange);
            color: white;
        }
    }
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem 20px 100px 20px;

    .typed-wrap {
        font-size: 2rem;
        color: var(--color-beige-dark);

        @media (min-width: 458px) {
            font-size: clamp(2rem, 5vw + 1px, 4rem);
        }

        > span {
            display: none;

            @media (min-width: 458px) {
                display: inline;
            }
        }
    }

    .typed {
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        font-size: 2rem;

        @media (min-width: 560px) {
            font-size: 2.7rem;
        }

        @media (min-width: 768px) {
            font-size: 3.5rem;
        }

        @media (min-width: 1024px) {
            font-size: 4rem;
        }



        &::after {
            content: '\200B'; /* Character for the cursor */
            height: 100%;
            width: 2.5rem;
            background-color: var(--color-beige-dark);
            animation: blinking 1s steps(1) infinite;
        }
    }

    h1 {
        font-family: 'DroidSansMono', monospace;
        color: inherit;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        width: 0;
        margin: 0;
        animation: typing 1.5s steps(20, end) 1s forwards;
        font-size: inherit;
    }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blinking {
    50% {
        background-color: transparent;
    }
}

.intro {
    font-family: 'OpenSansRegular', sans-serif;
    margin-block: 3rem;

    @media (min-width: 768px) {
        font-size: 1.25rem;
        margin-block: 5rem;
    }
}

a {
    color: var(--color-burnt-orange);
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: var(--color-dark-gray);
    }
}

.projects {
    header {
        margin-top: 5rem;
        margin-bottom: 4rem;
        text-align: center;
    }

    h2 {
        margin-top: 0;
        text-align: center;
        font-size: clamp(1.5rem, 4vw + 1px, 2rem);
    }
}

.project {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    background-color: white;
    height: 100%;

    @media (min-width: 768px) {
        grid-template-columns: 300px 2fr;
    }

    + .project {
        margin-top: 2.5rem;

        @media (min-width: 768px) {
            margin-top: 4rem;
        }
    }

    .thumb {
        height: 100%;
        display: none;

        @media (min-width: 768px) {
            position: relative;
            display: block;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;

            &.gerben-img {
                object-position: center;
                width: 180px;
                height: 180px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.mma-img {
                /*object-fit: cover;*/
                object-position: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.meic-img {
                object-position: center;
                object-fit: contain;
                /* background gradient that has a bold theme. Colors must deep blue to light blue */
                background: linear-gradient(to bottom, #003366, #006699);
            }

            @media (min-width: 768px) {
                position: absolute !important;
            }
        }
    }

    .content {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: 768px) {
            flex: 2 1 70%;
            padding: 4rem 3rem;
        }

        ul {
            padding-left: 0;
        }

        .button {
            margin-top: auto;
            display: inline-block;
        }

        h3 {
            font-size: clamp(1.3rem, 3vw + 1px, 1.6rem);
            /*margin: 0 0 0.8rem;*/
            color: #333;
        }

        p {
            font-family: 'LatoRegular', sans-serif;
            font-size: 1rem;
            color: #555;
            margin: 8px 0;
        }

        .text {
            padding: 0.3rem 0 1rem 0;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin: 0.5rem 0 1.5rem 0;

            span {
                display: inline-block;
                padding: 7px 9px;
                /*background-color: #f0f0f0;*/
                border: 1px solid #ddd;
                color: #333;
                border-radius: 4px;
                font-size: 0.85em;
            }
        }

        .cta {
            display: flex;
            gap: 1rem;
            margin-top: auto;
        }
    }
}

.terminal {
    width: min(100%, 1000px);
}

#bar {
    text-align: center;
    height: 25px;
    background-color: var(--color-dark-bg);
    margin: 0 auto;
    font-family: "DroidSansMono", monospace;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

#button-red, #button-yellow, #button-green {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 6px;
}

#button-red {
    background-color: var(--color-accent-red);
    left: 10px;
}

#button-yellow {
    background-color: var(--color-accent-orange);
    left: 30px;
}

#button-green {
    background-color: var(--color-accent-green);
    left: 50px;
}

#screen {
    background-color: var(--color-background);
    /*height: 400px;*/
    border-radius: 0 0 4px 4px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.6),
    0 10px 20px rgba(0, 0, 0, 0.4),
    0 5px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
}

#screen .command {
    margin: 0;
    color: var(--color-dark-text);
    font-family: "DroidSansMono", monospace;
    font-size: 1rem;
    text-align: left;

    &:last-child {
        padding-bottom: 2.5rem;
    }
}

#screen .command::before {
    content: "> ";
}

#screen .response {
    margin: 0 0 25px 0;
    color: var(--color-dark-text);
    font-family: "DroidSansMono", monospace;
    font-size: 15px;
    text-align: left;

    &.text {
        color: var(--color-accent-text);
    }
}

#screen .array::before,
#screen .array::after {
    /*color: var(--color-dark-text);*/
    color: var(--color-accent-text);
}

#screen .array::before {
    content: "[";
}

#screen .array::after {
    content: "]";
}

#screen .array .array-element {
    color: var(--color-accent-text);
}

#screen .array .array-element::before,
#screen .array .array-element::after {
    content: "\"";
    /*color: var(--color-dark-text);*/
    color: var(--color-accent-text);
}

#screen a {
    color: var(--color-cyan) !important;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 3px;
    transition: color 0.3s;
}

#screen a:hover {
    color: var(--color-hover-text);
}

#screen .cursor {
    background: var(--color-dark-text);
    animation: blinker 1s linear infinite;
    display: inline-block;
    width: 10px;
    height: 18px;
    margin-left: 2px;
}

header.top {
    display: flex;
    margin-bottom: 6rem;

    @media screen and (min-width: 768px) {
        margin-bottom: 8rem;
    }

    nav {
        margin-left: auto;
        display: flex;
        gap: 3rem;

        a {
            font-size: 0.9rem;

            @media screen and (min-width: 768px) {
                font-size: 1rem;
            }
        }
    }
}

footer {
    text-align: center;
    padding-bottom: 5rem;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

@font-face {
    font-family: 'DroidSansMono';
    src: url('../webfonts/DroidSansMono-webfont.woff') format('woff');
    src: url('../webfonts/DroidSansMono-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../webfonts/lato-reg-webfont.eot');
    src: url('../webfonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../webfonts/lato-reg-webfont.woff') format('woff'), url('../webfonts/lato-reg-webfont.ttf') format('truetype'), url('../webfonts/lato-reg-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../webfonts/opensans-regular.eot');
    src: url('../webfonts/opensans-regular.eot?#iefix') format('embedded-opentype'), url('../webfonts/opensans-regular.woff') format('woff'), url('../webfonts/opensans-regular.ttf') format('truetype'), url('../webfonts/opensans-regular.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../webfonts/opensans-bold.eot');
    src: url('../webfonts/opensans-bold.eot?#iefix') format('embedded-opentype'), url('../webfonts/opensans-bold.woff') format('woff'), url('../webfonts/opensans-bold.ttf') format('truetype'), url('../webfonts/opensans-bold.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../webfonts/opensans-semibold.eot');
    src: url('../webfonts/opensans-semibold.eot?#iefix') format('embedded-opentype'), url('../webfonts/opensans-semibold.woff') format('woff'), url('../webfonts/opensans-semibold.ttf') format('truetype'), url('../webfonts/opensans-semibold.svg#OpenSansSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
